* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 0;

}

html, body {
    height: 100%;
}

body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    
}

nav img {
    width: 8rem;
    position: relative;
    left: 30px;
}
nav {
    padding-top: 20px;
}
i {
    width: 34px;
}

.add_heart{
    padding-top: 40px;
}
.add_heart i{
    font-size: 18px;
    padding-right: 10px;
}
.add_heart li{
    padding-bottom: 15px;
}
.cookies_privacidade{
    position:absolute;
    bottom: 50px;
    font-size: 11px;
    left: 40px;
}
.cookies_privacidade p{
    padding-top: 10px;
}
.cookies_privacidade a:hover{
    text-decoration: underline;
}
.main {
    margin-left: 6%;
    background: linear-gradient(to top, #0D0D0D 0%, #121212 100%);
    padding: 15px;
}

h3{
    padding-top: 10px;
}

.playlists_busca {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 8%;
    padding-top: 20px;
}

.playlists_busca img {
    width: 100%;
}

#pl1_busca, #pl2_busca, #pl3_busca, #pl4_busca {
    margin-left: 3%;
    text-align: center;
}
ul a {
    text-decoration: none;
    list-style: none;
    color: white;
    position: relative;
    left: 35px;
}
ul {
    padding-top: 15px;
}
a {
    text-decoration: none;
    list-style: none;
    color: white;
}
ul, a:hover {
    color: #1ed760;
    transition: 350ms linear;
}

h2 {
    margin-top: 1rem;
}

input{
    padding-top: 0.7rem;
    width: 13rem;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: none;
}

button i{
    width: 1.5rem;
    color: black;
    padding-top: 3px;
}
.btnbuscar{
    position: absolute;
    left: 435px;
    top: 15px;
}
.btnbuscar button{
    height: 37px;
}

.login{
    padding: 10px;
    background-color:#1db954;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    height: 40px;
    width: auto;
    position: absolute;
    right: 10px;
    top: 10px;
}
.login:hover{
    background-color: #1ed760 ;
}
.cadastro{
    padding: 10px;
    background-color:#1db954;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    height: 40px;
    width: auto;
    position: absolute;
    right: 80px;
    top: 10px;
}
.cadastro:hover{
    background-color: #1ed760 ;
}