* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 0;
}
body {
    background-color:#0D0D0D;;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}

nav img {
    width: 8rem;
    position: relative;
    left: 30px;
}
nav {
    padding-top: 20px;
}
i {
    width: 34px;
}

ul a {
    text-decoration: none;
    list-style: none;
    color: white;
    position: relative;
    left: 35px;
}
ul {
    padding-top: 15px;
}
a {
    text-decoration: none;
    list-style: none;
    color: white;
}

ul, a:hover {
    color: gray;
    transition: 350ms linear;
}

ol {
    padding-top: 2rem;
    padding-left: 2rem;
    margin-left: 4%;
    background-color: #0D0D0D;
}

ol li {
    margin-bottom: 2rem;

}

.reproduzir {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.reproduzir img {
    width: 4.5rem;
}
.reproduzir a:hover {   
    opacity: 0.5;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.capa {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.capa img {
    width: 20vw;
    height: 40vh;
    margin: 1.5rem;
}

.titulo {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h1 {
    font-size: 4rem;
}

audio {
    margin-top: 45%;
}

.login{
    padding: 10px;
    background-color:#1db954;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    height: 40px;
    width: auto;
    position: absolute;
    right: 10px;
    top: 10px;
}
.login:hover{
    background-color: #1ed760 ;
}