* {
    margin: 0;
    padding-left: 3px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;

}
html,body {
    height: 100%;
}

body {
    background-color:#0D0D0D;;
    color: white;
    display: flex;
    flex-direction: row;  
}

nav img {
    width: 8rem;
}
nav {
    padding-top: 20px;
}
i {
    width:  34px;   
}

ul, a {
    text-decoration: none;
    list-style: none;
    color: white;
    padding-top: 10px;
}

ul, a:hover {
    color: gray;
    transition: 350ms linear;
}

ol {
    padding-top: 2rem;
    padding-left: 2rem;
    margin-left: 4%;
    background-color: #0D0D0D;
}

ol li {
    margin-bottom: 2rem;

}

.reproduzir {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.reproduzir img {
    width: 4.5rem;
}
.reproduzir a:hover {   
    opacity: 0.5;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.capa {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.capa img {
    width: 20%;
    margin: 1.5rem;
}

.titulo {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h1 {
    font-size: 4rem;
}