* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color:black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    height: 900px;
}

nav img {
    width: 8rem;
    position: relative;
    left: 30px;
}
nav {
    padding-top: 20px;
}
i {
    width: 34px;
}
.add_heart{
    padding-top: 40px;
}
.add_heart i{
    font-size: 18px;
    padding-right: 10px;
}
.add_heart li{
    padding-bottom: 15px;
}
.cookies_privacidade{
    position:absolute;
    bottom: 50px;
    font-size: 11px;
    left: 40px;
}
.cookies_privacidade p{
    padding-top: 10px;
}
.cookies_privacidade a:hover{
    text-decoration: underline;
}

ul a {
    text-decoration: none;
    list-style: none;
    color: white;
    position: relative;
    left: 35px;
}
ul {
    padding-top: 15px;
}
a {
    text-decoration: none;
    list-style: none;
    color: white;
}

ul, a:hover {
    color: gray;
    transition: 350ms linear;
}


.main {
    margin-left: 6%;
    background: linear-gradient(to top, #0D0D0D 0%, #121212 100%);
    padding: 15px;
}

.login{
    padding: 10px;
    background-color:#1db954;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    height: 40px;
    width: auto;
    position: absolute;
    right: 10px;
    top: 10px;
}

.login:hover{
    background-color: #1ed760 ;
}
.cadastro{
    padding: 10px;
    background-color:#1db954;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    height: 40px;
    width: auto;
    position: absolute;
    right: 80px;
    top: 10px;
}
.cadastro:hover{
    background-color: #1ed760 ;
}

.capa img {
    width: 30%;
    margin: 1.5rem;
}

.capa {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.titulo {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h1 {
    font-size: 4rem;
}

.reproduzir {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.reproduzir img {
    width: 4.5rem;
}
.reproduzir a:hover {   
    opacity: 0.5;
    transform: scale(1.1);
    transition: 0ms;
}
ol {
    padding-top: 2rem;
    padding-left: 2rem;
    margin-left: 4%;
    background-color: #0F0F0F;
}

ol li {
    margin-bottom: 2rem;
}

audio {
    margin-top: 45%;
    position: fixed;
    left: 73%;
    bottom: 5%;
}
audio{
    width: 100%;
    height: 50px;
    position: fixed;
    left: 0px;
    bottom: 0; 
}
/* Player de Música */
.player_de_musica{
    width: 100%;
    height: 100px;
    background-color: #222;
    position: fixed;
    bottom: 0;
    --primary-color: #ddd;
    --secondary-color: #999;
    --green-color: #2d5;
    --padding: 1em;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 7rem;
    padding: var(--padding);
    color: var(--primary-color);
}
i{
    color: var(--secondary-color);
}
i:hover{
    color: var(--primary-color);
}
.song-bar {
    position: absolute;
    left: var(--padding);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    width: 25%;
}

.song-infos {
    display: flex;
    align-items: center;
    gap: 1em;
}
.image-container {
    --size: 4.5em;
    flex-shrink: 0;
    width: var(--size);
    height: var(--size);
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.song-description p {
    margin: 0.2em;
}
.title,
.artist {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.title:hover,
.artist:hover {
    text-decoration: underline;
}
.artist{
    color: var(--secondary-color);
}
.icons{
    display: flex;
    gap: 1em;
}
.progress-controller{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    color: var(--secondary-color);
}
.control-buttons{
    display: flex;
    align-items: center;
    gap: 2em;
}
.play-pause{
    display: inline-block;
    padding: 10px;
    background-color: var(--primary-color);
    color: #111;
    border-radius: 50%;
}
.play-pause:hover{
    transform: scale(1.1);
    color: #111;
}
.progress-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.progress-bar{
    height: 4px;
    border-radius: 10px;
    width: 30%;
    background-color: #ccc4;
}
.progress{
    position: relative;
    height: 100%;
    width: 30%;
    border-radius: 10px;
    background-color: var(--secondary-color);
}
.progress-bar:hover .progress{
    background-color: var(--green-color);
}
.progress-bar:hover .progress::after{
    content: "";
    position: absolute;
    --size: 1em;
    width: var(--size);
    height: var(--size);
    right: 0;
    border-radius: 50%;
    background-color: var(--primary-color);
    transform: translate(50%, calc(2px - 50%));
}
.other-features{
    position: absolute;
    right: var(--padding);
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.volume-bar{
    display: flex;
    align-items: center;
    gap: .7em;
}
.volume-bar .progress-bar{
    width: 6em;
}
.volume-bar .progress-bar:hover .progress::after{
    --size: .8em;
}